@charset "UTF-8";
.header{
    margin: auto;
    display: block;
}
#headerImage{
    width: 100%;
}
h1{
    margin: auto;
    display: block;

    margin-top: 0%;
    font-size: 10vw;
    text-align: center;
}