@charset "UTF-8";
.header{
    margin: auto;
    display: block;
}
body{
  margin: 0%;
}
#headerImage{
    width: 100%;
    margin: 0%;
}
h1{
    margin: auto;
    display: block;

    margin-top: 0%;
    font-size: 10vw;
    text-align: center;
}
.gameContents{
  float: left;
  margin-left: 10%;

}
.illustrationContents{
  float: right;
  margin-right: 10%;
}
.img-link img {
  width: 20vw;
  margin: 5%;
  transition: 0.2s ease;
}
.img-link img:hover {
  opacity: 0.8;
  transform: scale(1.1);
}
.text-bottom{
  margin: auto;
  display: block;

  margin-top: 0%;
  font-size: 3vw;
  text-align: center;
}
.page-icon{
  background-color: gray;
  margin-top: 100px;
}